.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {

    width: 800px;
    height: 500px;
    border-radius: 5px;
  }
  
  .right-arrow {
    position: relative;
    top: 45%;
    right: -800px;
    font-size: 3rem;
    color: #f8f4f4;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: relative;
    top: 45%;
    left: 50px;
    font-size: 3rem;
    color: #fbf9f9;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }